[tool.poetry]
name = "pycomex"
version = "0.2.0"
description = "Python Computational Experiments"
license = "MIT"
authors = ["Jonas Teufel <jonseb1998@gmail.com>"]
maintainers = ["Jonas Teufel <jonseb1998@gmail.com>"]
readme = "README.rst"
documentation = "https://pycomex.readthedocs.io"
keywords = ["computational experiments", "data science", "maschine learning", "academia"]
packages = [
    { include = "tests" },
]
include = [
    "pycomex/templates",
    "pycomex/templates/analysis.j2",
    "pycomex/VERSION",
    "README.rst",
    "CHANGLELOG.rst"
]

[tool.poetry.scripts]
pycomex = 'pycomex.cli:main'

[tool.poetry.dependencies]
python = ">=3.6.2"
click = "7.1.2"
jinja2 = "3.0.3"

[tool.poetry.dev-dependencies]
nox = "2022.1.7"
black = "21.7b0"
sphinx = "5.0.2"

[tool.poetry_bumpversion.file."pycomex/__init__.py"]
search = "__version__ = '{current_version}'"
replace = "__version__ = '{new_version}'"

[tool.poetry_bumpversion.file."pycomex/VERSION"]
search = "{current_version}"
replace = "{new_version}"

[tool.black]
line-length = 120
target-version = ['py38']
