Description
===========

{{ experiment["description"] }}

Artifacts
=========

A list of all the file artifacts created by this particular run of the experiment:

{%- for name, value in experiment["artifacts"].items() %}
{%- if value is string %}
- *{{ name }}*
{%- endif %}
{%- endfor %}

Annotations
===========

insert thoughts here
