\begin{tabular}{ {% for _ in columns %}l{% endfor %} }
% --- Header ---
\toprule
{% for col in columns -%}
\multicolumn{1}{c}{ {{ col }} } {% if not loop.last %}&{% endif %}
{% endfor -%}
\\
\midrule
% --- Content ---
{% for row in rows -%}

% row {{ loop.index }}
{% for cell in row -%}
{% if ('bold' in cell and cell['bold']) -%} \textbf{ {% endif -%}
{% if ('underline' in cell and cell['underline']) -%} \underline{ {%- endif -%}
{% if 'string' in cell -%}
{{ cell["string"] }}
{%- elif 'number' in cell -%}
{{ "%.2f"|format(cell["number"]) }}
{%- elif ('mean' in cell and 'std' in cell) -%}
$\underset{ \color{darkgray} \pm{{"%.2f"|format(cell["std"])}} }{ {{"%.2f"|format(cell["mean"]) }} }$
{%- endif -%} {%- if 'bold' in cell or 'underline' in cell -%} } {%- endif -%} {%- if not loop.last -%} {{ '    &' }} {% endif %}
{% endfor -%}
\\

{% endfor -%}

\bottomrule
\end{tabular}